a.ControlTitleRightBar:active, a.ControlTitleRightBar:visited, a.ControlTitleRightBar:link{text-decoration:none;color:#000066;font-weight:bold;vertical-align:middle;padding-left:2px;}
a.ControlTitleRightBar:hover{color:gray;padding-left:2px;vertical-align:middle;}
a.ControlTitleMidBar:active, a.ControlTitleMidBar:visited, a.ControlTitleMidBar:link{text-decoration:none;color:#000066;font-weight:bold;vertical-align:middle;padding-left:2px;}
a.ControlTitleMidBar:hover{color:gray;padding-left:2px;vertical-align:middle;}
.ControlMidHeaderBackground{border-bottom:solid 1px #3971AC;color:#000066;background-color:#9EBEDE;}
.ControlMidBorderStyle{border:solid 1px #3971AC;border-collapse:collapse;}
.ControlRightHeaderBackground{border-bottom:solid 1px #3971AC;color:#000066;background-color:#9EBEDE;}
.ControlRightBorderStyle{border:solid 1px #3971AC;border-collapse:collapse;}
.ArticleIcon{background-image:url(/App_Themes/CSharp/images/ArticleIcons/ArticleIcon_blue.gif);background-repeat:no-repeat;}
.BulletIcon{background-image:url(/App_Themes/CSharp/images/BulletIcons/bullet_blue.gif);background-repeat:no-repeat;}
.pagingBackground{width:100%;border-top:solid 1px #336699;border-collapse:collapse;}